<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Calaberitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://content.listisima.com/medio/2023/09/23/calaveritas-literarias-calaveras-libros_494bc002_230923014837_990x1236.webp" />
    <ion-card-content>
      <i>En un pueblo alegre de México lindo,
      llegó el Día de Muertos, tan querido.
      Las calacas se visten de colores vivos,
      pues en esta festividad, no hay motivos esquivos.
      
      Las ofrendas se llenan de flores y pan,
      veladoras y retratos, sin fin.
      Los difuntos regresan a cenar con su clan,
      la muerte en este día, no da miedo, por fin.
      
      En el altar, abuelita tiene un lugar,
      sus platillos favoritos, con amor preparamos.
      Sus ojos brillan en la foto al mirar,
      pues en Día de Muertos, de nuevo nos encontramos.
      
      Con risas y cantos, celebramos la vida,
      recordando a quienes ya no están aquí.
      La muerte no es el final, es solo una partida,
      en esta fiesta, vivos y muertos compartimos sin fin.
      
      Así en México, con amor y alegría,
      celebramos el Día de Muertos cada año.
      Honramos a nuestros seres queridos en harmonía,
      en esta tradición que es un regalo sincero y cercano.
    </i>
    </ion-card-content>
  </ion-card>
</ion-content>
