<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Halloween
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Halloween</ion-card-title>
      
      <ion-card-subtitle>Cada dias mas tenebroso y escalofriante</ion-card-subtitle>
      <ion-card-content>
        <i>Halloween tiene raíces que se remontan a antiguas festividades celtas, en particular a la festividad gaélica de Samhain. Samhain marcaba el final de la temporada de cosecha y el inicio del invierno, y se creía que en esa noche, los espíritus de los muertos volvían a la Tierra. Con el tiempo, las tradiciones de Samhain se fusionaron con festividades cristianas como el Día de Todos los Santos (All Saints' Day) el 1 de noviembre.</i>
      </ion-card-content>
      <p>  Tradiciones Actuales.-

        Disfraces: Las personas de todas las edades se visten con disfraces, que pueden ser de personajes famosos, monstruos, brujas, vampiros, y muchas otras opciones creativas.
        Decoraciones: Mucha gente decora sus hogares con temas de Halloween, incluyendo calabazas talladas (llamadas jack-o'-lanterns), telarañas, esqueletos y fantasmas.
        Truco o trato: Los niños van de puerta en puerta pidiendo dulces con la frase "truco o trato". Los vecinos les dan golosinas como parte de la diversión de la festividad.
        Fiestas: Se organizan fiestas temáticas de Halloween en casas, escuelas y establecimientos públicos.
        Películas y programas de terror: Muchas personas disfrutan de películas y programas de televisión de terror como parte de su celebración de Halloween.</p>
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/3095465/pexels-photo-3095465.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
  </ion-card>
</ion-content>

